.about_container {
    /* display: grid; */
    grid-template-columns: 10% 100%;
    gap: 15%;
    text-align: center;
    height: 100%;
}

.about_me {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}
.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);  
    flex-direction: column;
}
.about_me-image:hover {
    transform: rotate(0);
}

.about_cards{
    padding-inline-start: 300px;
}

.about_content p {
    margin: 2rem 0.2rem;
    color: var(--color-light);
    text-align: center;
}

@media screen and (max-widht: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
}

@media screen and (max-widht: 600px) {
    .about_me {
        width: 65%;
        margin: 0 auto 3rem;
    }
    
    .about_content {
        text-align: center;
    }
    .about_content p {
        margin: 1 rem 0;
    }
}